/*css made by tae*/

/*
ign: びこ
twitter: @oxycotic
discord: tae#4444
*/

/*This css is to be editted for public or private use. HOWEVER, please contact me before editting for commericial use.*/

@import url(https://oxycotic.github.io/OG-Krunker/og.css);

/*Make Edits Below*/
