@import url(https://oxycotic.github.io/OG-Krunker/og.css); /*↽Auto Update URL | DO NOT TOUCH*/

/*css made by tae*/

/*
ign: びこ
twitter: @oxycotic
discord: tae#4444
site: https://taekr.carrd.co/
*/

/*This css is available to be edited for public or private use. HOWEVER, please contact me before editting for commericial use.*/

/*Make Edits Below*/
